<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="WaterMangment.html">
        <fieldset>
          <legend>Energy Consumption (1/5)</legend>
          <label for="electricity">Electricity Usage*</label>
          <input type="number" id="electricity" name="electricity" required><span>kWh</span><br>
          <label for="gas">Gas Usage*</label>
          <input type="number" id="gas" name="gas" required><span>m3</span><br>
          <label for="fuel-oil">Fuel Oil Usage*</label>
          <input type="number" id="fuel_oil" name="fuel_oil" required><span>liters</span><br>
          <label for="other-energy-sources">Other energy sources</label>
          <input type="text" id="other_energy_sources" name="other_energy_sources"><br>
          <button type="submit">Next</button>
          <button type="reset">Cancel</button>
        </fieldset>
      </form>
</body>
</html>