<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div>
      <form id="FormBox">
        <div class="leg">
          <legend>Recycling Activity (3/5)</legend>
        </div>
        <div class="form_data_box">
          <label for="recycling_habits">Recycling Habits</label>
          <input type="text" id="recycling_habit" name="recycling_habit" required><br>
          <label for="composting_habits">Composting Habits</label>
          <input type="text" id="composting_habits" name="composting_habits" required><br>
          <label for="landfill_waste_generation">Landfill Waste Generation</label>
          <input type="text" id="landfill_waste_generation" name="landfill_waste_generation" required><br>
        </div>
        <div class="buttoms">
          <button type="submit" style="margin-right: 50px;">Next</button>
          <button type="reset">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</form>
</body>
</html>
